*{
	margin:0px;
	padding:0px;
}
.one{
	background-color: gray;
	height:300px;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}
.two{
	background-color: black;
    align-items: center;
	height:300px;
	justify-content: space-around;
	
}
.type1{
	background-color: red;
	width: 15%;
	height:200px;
}
.type2{

	background-color: gray;
	width: 20%;
	height: 200px;
	margin-top:50px;
	display: inline-block;
	margin-left:3.8%;
}